@page "/infragistics-grid-virtualization"

@using SharedLibrary.Data

@inject Database db;

<div>Unable to load 1 million items</div>
<br />

<IgbGrid Data="gridData" AutoGenerate="false" AllowFiltering="true" Height="480px"
    FilterMode="IgniteUI.Blazor.Controls.FilterMode.QuickFilter">
    
    <IgbColumn Field="RowNumber" Header="Row Number" Sortable="true" Groupable="true"
        DataType="GridColumnDataType.Number" />
    <IgbColumn Field="Id" Header="Id" Sortable="true" Groupable="true" DataType="GridColumnDataType.Number" />
    <IgbColumn Field="PostId" Header="Post Id" Sortable="true" Groupable="true" DataType="GridColumnDataType.Number" />
    <IgbColumn Field="Name" Header="Name" Sortable="true" Groupable="true" DataType="GridColumnDataType.String" />
    <IgbColumn Field="Email" Header="Email" Sortable="true" Groupable="true" DataType="GridColumnDataType.String" />
</IgbGrid>

@code {
    private List<Comment> gridData = new List<Comment>();

    protected override async Task OnInitializedAsync()
    {
        //gridData = db.Repeat(2000, (await db.GetData()).Comments);
        gridData = db.Repeat(1800, (await db.GetData()).Comments);
    }
}