@page "/syncfusion-grid-virtualization"

@using Syncfusion.Blazor.Grids
@using SharedLibrary.Data

@inject Database db;

<p>To sort multiple columns, press and hold the <b>CTRL</b> key and click the column header. </p>

<SfGrid DataSource="@gridData" Height="480" EnableVirtualization="true" EnableVirtualMaskRow="true"
    AllowSorting="true" AllowMultiSorting="true" 
    AllowFiltering="true"
    AllowGrouping="true">

    <GridPageSettings PageSize="70"></GridPageSettings>
    <GridFilterSettings Type ="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>

    <GridColumns>
        <Syncfusion.Blazor.Grids.GridColumn Field="RowNumber" HeaderText="RowNumber" />
        <Syncfusion.Blazor.Grids.GridColumn Field="Id" HeaderText="Id" />
        <Syncfusion.Blazor.Grids.GridColumn Field="PostId" HeaderText="Post Id" />
        <Syncfusion.Blazor.Grids.GridColumn Field="Name" HeaderText="Name" />
        <Syncfusion.Blazor.Grids.GridColumn Field="Email" HeaderText="Email" />
    </GridColumns>
</SfGrid>

@code {
    private List<Comment> gridData = new List<Comment>();

	protected override async Task OnInitializedAsync()
    {
        gridData = db.Repeat(200, (await db.GetData()).Comments);
    }
}
