@using Syncfusion.Blazor.Grids
@using SharedLibrary.Data

@inject Database db;

@if (gridData == null)
{
    <div>Loading...</div>
}
else
{
    <SfGrid DataSource="@gridData">

        <GridColumns>
            <Syncfusion.Blazor.Grids.GridColumn Field="Id" HeaderText="Id" />
            <Syncfusion.Blazor.Grids.GridColumn Field="PostId" HeaderText="Post Id" />
            <Syncfusion.Blazor.Grids.GridColumn Field="Name" HeaderText="Name" />
            <Syncfusion.Blazor.Grids.GridColumn Field="Email" HeaderText="Email" />
        </GridColumns>
    </SfGrid>
}

@code {
    [Parameter] public int PostId { get; set; }
    private List<Comment>? gridData = null;

    protected override async Task OnParametersSetAsync()
    {
        gridData = (await db.GetData()).Comments.FindAll(x => x.PostId == PostId);
    }
}
