@page "/telerik-grid-pagination"
@using SharedLibrary.Data

@inject Database db

<h3>CommentsComponent</h3>

<TelerikGrid Data="@gridData" Pageable="true" PageSize="15"
	Sortable="true" SortMode="Telerik.Blazor.SortMode.Multiple" 
	FilterMode="Telerik.Blazor.GridFilterMode.FilterMenu"
	Groupable="true">
	
	<GridColumns>
		<Telerik.Blazor.Components.GridColumn Field="RowNumber" Title="Row Number" />
		<Telerik.Blazor.Components.GridColumn Field="Id" Title="Id" />
		<Telerik.Blazor.Components.GridColumn Field="PostId" Title="PostId" />
		<Telerik.Blazor.Components.GridColumn Field="Name" Title="Name" />
		<Telerik.Blazor.Components.GridColumn Field="Email" Title="Email" />
	</GridColumns>
</TelerikGrid>

@code {
    private List<Comment> gridData = new List<Comment>();

	protected override async Task OnInitializedAsync()
    {
        gridData = db.Repeat(2000, (await db.GetData()).Comments);
    }
}