@using SharedLibrary.Data

@inject Database db;

@if (gridData == null)
{
    <div>Loading...</div>
}
else
{
    <TelerikGrid Data="@gridData">
        <GridColumns>
            <Telerik.Blazor.Components.GridColumn Field="Id" Title="Id" />
            <Telerik.Blazor.Components.GridColumn Field="Name" Title="Name" />
            <Telerik.Blazor.Components.GridColumn Field="Email" Title="Email" />
        </GridColumns>
    </TelerikGrid>

}


@code {

    [Parameter] public int PostId { get; set; }
    private List<Comment>? gridData = null;

    protected override async Task OnParametersSetAsync()
    {
        gridData = (await db.GetData()).Comments.FindAll(x => x.PostId == PostId);
    }
}
