@page "/telerik-grid-virtualization"
@using SharedLibrary.Data

@inject Database db

<h3>CommentsComponent</h3>

<ul>
	<li>Pageable is not supported with the Virtualization feature</li>
</ul>


<TelerikGrid Data="@gridData" ScrollMode="@GridScrollMode.Virtual" Height="480px" PageSize="13" RowHeight="35" 
	Sortable="true" SortMode="@SortMode.Multiple" 
	FilterMode="Telerik.Blazor.GridFilterMode.FilterMenu"
	Groupable="true" LoadGroupsOnDemand="true">
	
	<GridColumns>
		<GridColumn Field="RowNumber" Title="Row Number" />
		<GridColumn Field="Id" Title="Id" />
		<GridColumn Field="PostId" Title="PostId" />
		<GridColumn Field="Name" Title="Name" />
		<GridColumn Field="Email" Title="Email" />
	</GridColumns>
</TelerikGrid>

@code {
	private List<Comment> gridData = new List<Comment>();

	protected override async Task OnInitializedAsync()
    {
        gridData = db.Repeat(2000, (await db.GetData()).Comments);
    }
}