@page "/telerik-grid-pagination"
@using SharedLibrary.Data

@inject Database db

<h3>CommentsComponent</h3>

<TelerikGrid Data="@gridData" Pageable="true" PageSize="15"
	Sortable="true" SortMode="@SortMode.Multiple">
	
	<GridColumns>
		<GridColumn Field="RowNumber" Title="Row Number" />
		<GridColumn Field="Id" Title="Id" />
		<GridColumn Field="PostId" Title="PostId" />
		<GridColumn Field="Name" Title="Name" />
		<GridColumn Field="Email" Title="Email" />
	</GridColumns>
</TelerikGrid>

@code {
    private List<Comment> gridData = new List<Comment>();

	protected override async Task OnInitializedAsync()
    {
        gridData = db.Repeat(2000, (await db.GetData()).Comments);
    }
}