@page "/syncfusion-grid-client-side"

@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using blazor_component_test.Data

@inject CommentService CommentService

@if (data == null)
{
    <div>Loading...</div>
}
else
{
    <SfGrid DataSource="@data" Height="500" EnableVirtualization="true" EnableVirtualMaskRow="true"
        AllowSorting="true" AllowFiltering="true">
    
        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
        <GridPageSettings PageSize="70"></GridPageSettings>

        <GridColumns>
            <Syncfusion.Blazor.Grids.GridColumn Field="RowNumber" HeaderText="RowNumber" />
            <Syncfusion.Blazor.Grids.GridColumn Field="Id" HeaderText="Id" />
            <Syncfusion.Blazor.Grids.GridColumn Field="PostId" HeaderText="Post Id" />
            <Syncfusion.Blazor.Grids.GridColumn Field="Name" HeaderText="Name" />
            <Syncfusion.Blazor.Grids.GridColumn Field="Email" HeaderText="Email" />
        </GridColumns>
    </SfGrid>
}

@code {
    private Comment[]? data;

    protected override async Task OnInitializedAsync()
    {
        var res = await CommentService.GetRepeatedCommentsAsync(2000, new()
        {
            Limit = 500,
        });

        data = res.Data;
    }
}
