<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">blazor-component-test</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="telerik-grid-client-side">
                <span class="oi oi-list-rich" aria-hidden="true"></span> TelerikGrid Client Side
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="telerik-grid-server-side">
                <span class="oi oi-list-rich" aria-hidden="true"></span> TelerikGrid Server Side
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="telerik-hierarchy">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Telerik Hierarchy
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="telerik-master-detail">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Telerik Master Detail
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="telerik-tree-list">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Telerik Tree List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="telerik-charts">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Telerik Charts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="syncfusion-grid-server-side">
                <span class="oi oi-list-rich" aria-hidden="true"></span> SFGrid ServerSide
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="syncfusion-grid-server-side-virtualization">
                <span class="oi oi-list-rich" aria-hidden="true"></span> SFGrid ServerSide Virt.
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="syncfusion-grid-client-side">
                <span class="oi oi-list-rich" aria-hidden="true"></span> SFGrid ClientSide
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="syncfusion-hierarchy">
                <span class="oi oi-list-rich" aria-hidden="true"></span> SFGrid Hierarchy
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
