@page "/telerik-grid-server-side"
@using SharedLibrary.Data

@inject CommentService CommentService

<h3>CommentsComponent</h3>

<TelerikGrid TItem="@Comment" Pageable="true" PageSize="15" OnRead="@ReadItems">
	<GridColumns>
		<GridColumn Field="Id" Title="Id" />
		<GridColumn Field="PostId" Title="PostId" />
		<GridColumn Field="Name" Title="Name" />
		<GridColumn Field="Email" Title="Email" />
	</GridColumns>
</TelerikGrid>

@code {
	protected async Task ReadItems(GridReadEventArgs args)
	{
		Console.WriteLine($"Page: {args.Request.Page} Limit: {args.Request.PageSize}");
		var res = await CommentService.GetCommentsAsync(new()
			{
				Page = args.Request.Page,
				Limit = args.Request.PageSize,
			});
		args.Data = res.Data;
		args.Total = res.Total;
	}
}